<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ja">
  <id>https://naoty.github.io/posts/index.atom</id>
  <title>Naoto Kaneko's posts</title>
  <updated><%- files[0].data.time.toISO() %></updated>
  <link rel="self" href="https://naoty.github.io/posts/index.atom"/>
  <author>
    <name>Naoto Kaneko</name>
  </author>
  <% for (let file of files) { %>
  <entry>
    <title><%- file.data.title %></title>
    <link rel="alternate" href="<%- file.data.url %>"/>
    <id><%- file.data.url %></id>
    <updated><%- file.data.time.toISO() %></updated>
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        <%- file.contents.toString() %>
      </div>
    </content>
  </entry>
  <% } %>
</feed>
